<!doctype html>
<title>Статистический анализ</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<body>

<div class="container">
    <div class="jumbotron jumbotron-fluid" style="background: rgba(255,255,255,0)">
        <div class="container" id="sub_main_container">
            <h1 class="display-4">Статистический анализ текста</h1>
            <label for="textarea" class="lead">Введите ваш текст</label>
            <textarea class="form-control" id="textarea" rows="4"
                      placeholder="Предрассветная дымка нехотя отступала по оврагам. Последние капли сна упали в чашку ароматного кофе..."></textarea>
            <div class="d-flex justify-content-end mt-2">
                <button id="process_btn" class="btn btn-primary" onclick='
                this_btn = document.getElementById("process_btn")
                this_btn.hidden = true
                document.getElementById("progress_bar").hidden = false
                    $.ajax({url: "process", datatype: "text", data: $("#textarea").val(),
                        success: function(data) {
                            document.getElementById("results").hidden = false
                            for(var key in data){
                                document.getElementById(key).innerHTML = data[key];
                            this_btn.hidden = false
                            document.getElementById("progress_bar").hidden = true
                            }
                     }})'>Обработать
                </button>
                <div id="progress_bar" hidden><div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div></div>
            </div>
            <div id="results" hidden>
                <div id="stats" class="mt-4">
                    <h3>Статистический анализ</h3>
                    <div id="gen_stat" class="mt-2">
                        <h5>Общая статистика</h5>
                        <div id="gen_stat_data"></div>
                        <h6>Включая знаки препинания и незнакомые слова:</h6>
                        <div id="gen_stat_data_with_punct"></div>
                        <h6>Без знаков препинания и незнакомых слов:</h6>
                        <div id="gen_stat_data_wo_punct"></div>
                    </div>
                    <div id="pos_stat" class="mt-2">
                        <h5>Частотный анализ по частям речи</h5>
                        <p>Без знаков препинания и незнакомых слов</p>
                        <div id="pos_stat_table"></div>
                        <div id="pos_stat_graph_uses"></div>
                        <div id="pos_stat_graph_words"></div>
                    </div>
                    <div id="omon_stat" class="mt-2">
                        <h5>Частотный анализ омонимичных словоформ</h5>
                        <p>10 самых частотых, без знаков препинания и незнакомых слов</p>
                        <h6>Включая стоп-слова</h6>
                        <div id="omon_stat_table"></div>
                        <h6>Без стоп-слов</h6>
                        <div id="omon_stat_table_wo_stopwords"></div>
                    </div>
                    <div id="case_analysis">
                        <h5>Частотный анализ падежей существительных и прилагательных</h5>
                        <p>abs - абсолютная частота, rel - относительная частота</p>
                        <div id="case_analysis_table"></div>
                        <div id="case_analysis_graph_sum"></div>
                        <div class="d-flex">
                            <div id="case_analysis_graph_nouns"></div>
                            <div id="case_analysis_graph_adjs"></div>
                        </div>
                    </div>
                    <div id="verb_forms_analysis">
                        <h5>Частотный анализ форм глаголов</h5>
                        <h6>По времени</h6>
                        <div id="verb_forms_analysis_tense_table"></div>
                        <h6>По лицу</h6>
                        <div id="verb_forms_analysis_person_table"></div>
                        <h6>По числу</h6>
                        <div id="verb_forms_analysis_number_table"></div>
                    </div>
                </div>
                <div id="other">
                    <h3>Прочие данные о тексте</h3>
                    <div id="summarization">
                        <h5>Топ 10 самых информативных предложений</h5>
                        <p>На основе частотности лемм</p>
                        <div id="top_sents"></div>
                        <h5>Простейший квазиреферат</h5>
                        <p>15% предложений текста, на основе частотности лемм</p>
                        <p id="summ_text"></p>
                    </div>
                </div>
                <div id="morph_analysis" class="mt-4">
                    <h3>Морфологический анализ</h3>
                    <div id="morph_analysis_table"></div>
                    <div class="mt-2">
                        <a href="https://github.com/olesar/ruUD/blob/master/conversion/RussianUD_XPOSlist.md">Теги
                            частей речи согласно Universal Dependencies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>