<!doctype html>
<title>Статистический анализ</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<body>

<div class="container">
    <div class="jumbotron jumbotron-fluid" style="background: rgba(255,255,255,0)">
        <div class="container" id="sub_main_container">
            <h1 class="display-4">Статистический анализ текста</h1>
            <label for="textarea" class="lead">Введите ваш текст</label>
            <textarea class="form-control" id="textarea" rows="4"
                      placeholder="Предрассветная дымка нехотя отступала по оврагам. Последние капли сна упали в чашку ароматного кофе..."></textarea>
            <div class="d-flex justify-content-end mt-2">
                <button id="process_btn" class="btn btn-primary" onclick="
                    $.ajax({url: 'process', datatype: 'text', data: $('#textarea').val(),
                        success: function(data) {
                            document.getElementById('results').hidden = false
                            for(var key in data){
                                document.getElementById(key).innerHTML = data[key];
                            }
                     }})">Обработать
                </button>
            </div>
            <div id="results" hidden>
                <div id="stats" class="mt-2">
                    <h3>Статистические данные</h3>
                    <div id="gen_stat" class="mt-2">
                        <h5>Общая статистика</h5>
                        <div id="gen_stat_data"></div>
                    </div>
                    <div id="pos_stat" class="mt-2">
                        <h5>Частотный анализ по частям речи</h5>
                        <div id="pos_stat_table"></div>
                        <div id="pos_stat_graph"></div>
                    </div>
                </div>
                <div id="morph_analysis" class="mt-2">
                    <h3>Морфологический анализ</h3>
                    <div id="morph_analysis_table"></div>
                    <div class="mt-2">
                        <a href="https://github.com/olesar/ruUD/blob/master/conversion/RussianUD_XPOSlist.md">Теги
                            частей речи согласно Universal Dependencies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>